.aa{
    border-width: 5px;
    border-style: groove;
    border-color: red;
    background-color: #61dafb;
    width: 200px;

}
h1{
    background-color: black;
    border-width: 20px;
    color : azure;
    width: 200px;
}